$backbround-color:  #434343;
$panel-body: #7d7d7f;
$button-color: #63636e;
$button-text-color: #f3f3f3;
$screen-text-color: #434343;
$screen-backlight-off-color: #47b2b2;
$screen-backlight-on-color: #7fffff;
$font-stack1: Roboto Mono Normal;
$font-stack2: Roboto Mono Medium;
$active-button-color: #a5a5bd