@import "config";

// this design was very simple and small so there wasnt enough
// options to implement the extend way of reusing classes


body {
    background-color: $backbround-color;
    font-family: $font-stack2;
}

.container-color {
    background-color: $panel-body;
}

.container {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 800px;
}

.container_inner-details {
    background-color: $panel-body;
    width: 400px;
    text-align: center;
    padding: 20px 30px;
}

.container_segment-details {
    margin-bottom: 40px;
    background-color: $screen-backlight-on-color;
}

.screen-light {
    background-color: $screen-backlight-on-color;
}

.top-left-segment {
    color: $screen-text-color;
    text-align: left;
    padding: 15px;
}

.main-segment {
    text-align: right;
    padding: 15px;
    color: $screen-text-color;
}

.keyInputs_buttons {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 3rem;
}

.keyInputs{
    display: flex;
    justify-content: center;
}

.keyInputs_button{
    height: 80px;
    width: 80px;
    background-color: $button-color;
    color: $button-text-color;
    font-size: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 2px solid #3b3a3a59;
    display: flex;
    justify-content: center;
    align-items: center;
}

.serial-number{
    display: flex;
    justify-content: right;
}
